#map-container {
}

.main-content {
    margin: 0 auto;
    margin-top: 90px;
    width: 80%;
}
.main-content p {
    font-size: 20px;
}

.content-div p {
    margin: 12px 0;
    font-size: 16px;
}

h3 {
    margin-bottom: 10px;
}

.accent-02 {
    margin: 10px 0;
}

.content-div {
    width:80%; display: flex; flex-direction: row; justify-content: space-between;
}

.office-info {
}

.intro-p {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .content-div {
        flex-direction: column;
        width: 80%;
    }
    .office-info {
        width: 100%;
    }
    .office-info h3 {
        width: 298px;
    }
    .intro-p {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 425px) {
    #map-container iframe {
        width: 100%;
    }

    .content-div p {
        font-size: 12px;
    }
    .accent-01, .accent-02 {
        width: 80%;
    }
}